* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(186, 185, 185);
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    position: relative;
}

.pictureOne, .pictureTwo, .pictureTree {
    position: absolute;

    z-index:-1;
    
}

.hide{
    display: none;
}

nav {
    margin-left: 72px;
    display: flex;
    align-items: center;

    padding-top: 40px;
}

/* config home */
a,
img {
    color: #FFFFFF;
    gap: 32px;

    text-decoration: none;
    margin: 0 32px 0 0;
}

a {
    font-size: 21px;
}

a:hover {
    font-size: 24px;
}

#home {
    width: 399px;
    margin: 200px auto;
    width: 50%; /* Valor da Largura */
    text-align: center;

    color: #FFFFFF;
}

#home h1 {
    font-size: 48px;
    margin-bottom: 24px;
    
}

#home button {
    font-size: 14px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 12px 32px;

    background: none;
    color: #FFFFFF;
    cursor: pointer;
}

#home button:hover {
    background: #FFFFFF;
    color: #02799D;

}

/* config Universo e exploracao*/

#universo, #exploracao {
    width: 648px;
    margin: 63px 0 0 102px;
}

#universo h1, #exploracao h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

#universo p, #exploracao p {
    font-size: 18px;
}

/* config page 404 */

#notFound {
    text-align: center;
    margin: 60px auto;
}

#notFound img {
    width: 400px;
}